{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable and Professional Websites">
    <meta name="keywords" content="Web Development, Affordable Web Development">
    <meta name="author" content="Kenechi Ifeanyi">
    <title>Kay Programmer | Welcome</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">Kay Programmer</span></h1>
            </div>
            <nav>
                <ul>
                    {% url 'home' as home_url %}
                    <li class="{% if request.path == home_url %} current {% endif %}"><a href="{% url 'home' %}">Home</a></li>
                    {% url 'about' as about_url %}
                    <li class="{% if request.path == about_url %} current {% endif %}"><a href="{% url 'about' %}">About</a></li>
                    {% url 'services' as services_url %}
                    <li class="{% if request.path == services_url %} current {% endif %}"><a href="{% url 'services' %}">Services</a></li>

                </ul>
            </nav>
        </div>
    </header>
        {% block content %}

        {% endblock %}
    <footer>
        <p>Kay Programmer, Copyright &copy; 2021</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>

{% load sweetify %}
{% sweetify %}
</body>
</html>